<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mage.crm.dao.OrderDetailDao">
    <resultMap id="BaseResultMap" type="com.mage.crm.vo.OrderDetail">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="order_id" jdbcType="INTEGER" property="orderId" />
        <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
        <result column="goods_num" jdbcType="INTEGER" property="goodsNum" />
        <result column="unit" jdbcType="VARCHAR" property="unit" />
        <result column="price" jdbcType="REAL" property="price" />
        <result column="sum" jdbcType="REAL" property="sum" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
        <result column="is_valid" jdbcType="INTEGER" property="isValid" />
    </resultMap>
    <sql id="Base_Column_List">
        id, order_id, goods_name, goods_num, unit, price, create_date, update_date, is_valid,sum
    </sql>
    <select id="queryOrderDetailsByOrderId" parameterType="int" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from t_order_details
        where order_id=#{orderId} and is_valid=1
    </select>
</mapper>